/**
 * RESET
 */

@import "reset";

/**
 * BESPOKE
 */

html {
	font-family: menu, Helvetica, Arial, sans-serif;
	background-color: #eeeeee;
	/* border: 1px solid magenta; */
}

/**
 * Testing autoprexier
 */

:fullscreen a {
	display: flex;
}
